.title {
  text-align: center; }

.title-text {
  font-size: 24px;
  font-weight: 600; }

.tables {
  overflow-x: auto; }

.master {
  text-align: center;
  overflow-x: scroll;
  table-layout: fixed;
  margin: 0 auto;
  overflow-x: scroll;
  height: 100vh; }

.display-item {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  padding: 15px; }

tr:nth-child(2n) {
  background-color: #d6d6d6; }

.editable {
  background-color: #868686;
  color: #f4f4f4;
  white-space: nowrap;
  padding: 3px; }

.editable * {
  display: inline; }

.save {
  display: none;
  text-decoration: none;
  width: 44px;
  background-color: yellow;
  color: black;
  border-radius: 25px;
  border: none;
  margin: 5px auto; }

.editable:focus-within .save {
  display: block; }

.notes {
  padding: 5px; }

.special {
  font-size: 16px;
  font-weight: bolder;
  color: #4a4a4a; }

.eligible {
  height: 80vh; }

.potential {
  height: 80vh; }

.data-table {
  width: auto; }

.data-table th {
  height: 50px; }

.data-table td {
  height: 50px; }

.current-bids {
  height: 100%; }

.offers {
  border-left: 1px solid black; }

.offers:first-child {
  border-left: none; }

.active {
  border-left: 1px solid black; }

.active:first-child {
  border-left: none; }

.current {
  display: inline-block;
  padding: 3px 10px;
  background-color: #32CD32;
  border-radius: 25px;
  color: #f4f4f4;
  font-size: 13px; }

.choice {
  display: inline-block;
  padding: 3px 10px;
  background-color: #32cdcd;
  border-radius: 25px;
  color: #f4f4f4;
  font-size: 13px; }
