hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); }

.center {
  text-align: center !important;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600; }

.title {
  margin: 0 auto;
  padding-top: 6px;
  font-size: 16px;
  font-weight: 500; }

#download {
  display: block;
  margin: 0 auto;
  background-color: #024FA7;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
  width: 20%;
  cursor: pointer;
  text-align: center; }

#download:hover {
  color: #E17419; }
