var _html_panel = $(`
                        <div class="col-md-12" >
                            <div class="panel" style=" border: 3px solid;padding: 1px;background: #c4dff7;">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        <input type="hidden" name="last_name" value="" >
                                            <input type="text" style="background: #c4dff7;border: 0;outline: none;" class=" has-feedback-left" tabindex="1"    name="first_name" id="first_name" placeholder="Name" value="${form_data && form_data.first_name?form_data.first_name:""}"  required><br>
                                            <input type="text" style="background: #c4dff7;border: 0;outline: none;width: 50vh;"  class=" has-feedback-left" tabindex="2"    name="billing_address1" id="billing_address1" value="${form_data && form_data.billing_address1?form_data.billing_address1:""}" placeholder="Street" required><br>
                                            <input type="text" style="background: #c4dff7;border: 0;outline: none;width: 15vh"   class=" has-feedback-left"  tabindex="3" name="billing_city"  id="city" placeholder="City" value="${form_data && form_data.billing_city?form_data.billing_city:""}" required>
                                            <input type="text" style="background: #c4dff7;border: 0;outline: none;width: 10vh"   class=" has-feedback-left"  tabindex="4" name="billing_state"  id="state" placeholder="State" value="${form_data && form_data.billing_state?form_data.billing_state:""}" required>
                                            <input type="text" style="background: #c4dff7;border: 0;outline: none;width: 10vh"   class=" has-feedback-left"  tabindex="5" name="billing_zip" value="${form_data && form_data.billing_zip?form_data.billing_zip:""}"  id="zipcode" placeholder="Zipcode" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h1 style="float: right;" id="generated_number"></h1>
                                    </div>
                                    <div class="col-md-10">
                                    <span style="float:right">  Date  <span style="border-bottom: 1px solid;"> 12/22/2019</span><span>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-12">
                                        PAY TO THE <br> ORDER OF <input  type="text" style="width: 70%;background: #c4dff7;border-top: 0;border-left: 0;border-color: #080202;outline: none;" class=" has-feedback-left" tabindex="6" name="order"  id="order" readonly required>
                                        <b> $ 
                                        <input type="text" name="amount" readonly="${form_data && form_data.amount?"true":"false"}" value="${form_data && form_data.amount?form_data.amount:""}" style="width: 10%;background: #c4dff7;border: 1px solid;    outline: 0;" required>
                                    </div>
                                    <div class="col-md-12">
                                        <br>
                                        <span  style="border-bottom: 2px solid black;width: 83%;display: inline-block;    outline: 0;" class=" has-feedback-left" tabindex="7"  id="inwords" > &nbsp;	</span> DOLLARS
                                    </div>
                                    <div class="col-md-12">
                                            <br>
                                            Memo <input type="text"  style="width: 50%;border-top: 0;border-left: 0;border-right: 0;background: #c4dff7;border-color: black;    outline: 0;" class=" has-feedback-left" tabindex="8"  value="${form_data && form_data.order_description?form_data.order_description:""}"   name="order_description" readonly  required> 
                                            <span style="background: #c4dff7;border-color: black;/* border-bottom: 2px solid black; *//* display: inline-block; */width: 85%;">
                                            <canvas class="nopadding_lr w100" width="290" style="margin-top: -46px;left: 110px;position: relative;top: 8px;border-bottom: 2px solid black;" height="70" id="canvas" style="clear:both; float:left;padding-left: 21vh;">Signature Preview is not available. Please enable javascript in your browser.</canvas>
                                            
                                            </span>
                                        </div>
                                        <div class="col-md-12">
                                                <br>
                                            <input type="text"  style="width: 30%;background: #c4dff7;border: 0;outline: none;"   class=" has-feedback-left" tabindex="9"   name="routing_number" id="first_name" placeholder="':000000000':" required> 
                                            <input type="text"  style="width: 30%;background: #c4dff7;border: 0;outline: none;" class=" has-feedback-left" tabindex="10"   name="checking_account_number" id="first_name" placeholder="':000000000':" required> 
                                          
                                            
                                            <span id="check_number" style="width: 45%;border-top: 0;border-left: 0;border-right: 0;background: #c4dff7;border-color: black;">
                                            </span>
                                            </div>
                                    </div>
                                </div>
                        </div>
                        `); 